@import "styles/constants.pcss";

.component {
  padding: 0 80px;

  &.smallIndent { padding: 0 30px; }

  &.noLeftIndent {
    padding-left: 0;
  }
}


@media (max-width: 767px) {
  .component{
    padding: 0 10px;
  }
 
}

