@import "styles/constants.pcss";

.component {
  font: var(--legalFont);
  color: var(--baseColor);
  background: var(--backgroundDark);
  padding: 0 !important;
}

.middle {
  margin: auto;
  max-width: 150px;
}
