a {
  text-decoration: none;
  cursor: pointer;
}

a::hover {
  cursor: pointer;
}

.professorView {
  border-bottom: 1px solid white;
}

.professorView:last-child {
  border-bottom: none;
}

.lessonName {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.professor {
  color: white;
  font-size: 26px;
}

.lessonView {
  margin-bottom: 10px;
}

.lessonView:last-child {
  margin-bottom: 0;
}

.lessonsView {
  padding: 20px;
}

.professorRow{
  margin-top: 20px;
}